#configure travis
language: java

#build software
script: mvn test

notifications:
  slack: soniapigot:ab83h8hQuElrd33suGrHoZcb

deploy:
  provider: heroku
  app: first-app-sonia # optional if it's the same as your repo name
  api_key: 34be936f-0802-44e8-88c0-e705afe635a9
